<div :class="['message', isOwnMessage ? 'own-message' : 'other-message', { 'message-block-start': isBlockStart, 'message-block-continue': !isBlockStart }]">
    <div v-if="!isOwnMessage && isBlockStart" class="message-sender">
        <span v-if="displayName" class="display-name">{{ displayName }}</span>
        <span v-else class="actor-handle">
            <graffiti-actor-to-handle :actor="message.actor"></graffiti-actor-to-handle>
        </span>
    </div>
    <div class="message-bubble">
        <div class="message-content">{{ message.value.content }}</div>
        <div class="message-footer">
            <span class="message-time">{{ formatTime(message.value.published) }}</span>
            <template v-if="isOwnMessage">
                <button
                    v-if="!confirmingDelete"
                    @click="confirmingDelete = true"
                    :disabled="isDeleting"
                    class="delete-btn"
                    aria-label="Delete message"
                >
                    <X :size="14" />
                </button>
                <span v-else class="delete-confirm">
                    <button @click="confirmingDelete = false" class="delete-cancel-btn">Cancel</button>
                    <button @click="deleteMessage()" :disabled="isDeleting" class="delete-confirm-btn">Delete</button>
                </span>
            </template>
        </div>
    </div>
</div>
